<h1>{{title}}</h1>
<section class="about-me" id="aboutMe">
    <div class="personal-image" id="personalImage">
        <img src="/images/placeholder.jpg" alt="Andy" >
    </div>
    <div class="aboutMeInfo" id="myself">
        <h2>Andreas Lentini</h2>
        <p>Contact Information</p>
        <p>Telephone: 249-385-7287</p>
        <p>Email: lentiniandy@gmail.com</p>
    </div>
</section>