<section class="about-me" id="aboutMe">
    <div class="personal-image" id="personalImage">
        <img src="/images/placeholder.jpg" alt="Andy" >
    </div>
    <div class="aboutMeInfo" id="myself">
        <h2>Andreas Lentini</h2>
          <p>HBSc Computer Science 2025<br> 
          Computer Programmer Diploma 2022<br></p>
        <p>Since 2016 Andreas has been programming small gizmos and gadgets creating unique and interesting solutions to tech related issues. 
            <br><br>In 2018 he competed through the VEX robotics program out of his highschool in Orillia ON and competed for 3 seasons, where he qualified for the world championship in 2019 placing in the top 250 teams in the world.  
            <br><br>In 2020 he began a joint degree/diploma program through Lakehead University and Georgian College learning website, webapp and phone app development.  In 2022 he started his theoretical research at Lakehead University where he began to specialize in Data Sciences and Machine Learning. 
            <br><br>After completing his degree he has set out to become a successful entrepreneur and business man striving to help other business owners improve their internet presesnse and business analytics.         
        </p>
        <p>Contact Information</p>
        <p>Telephone: 249-385-7287</p>
        <p>Email: lentiniandy@gmail.com</p>
        <p><a class="about-to-contnact" href="/contact">Contact</a></p>
    </div>
</section>