<link rel='stylesheet' href='/stylesheets/styles.css' />
 <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<h1>{{title}}</h1>
<h3>Who I Am</h3>
<p>I am Andreas Lentini.  I am second year university student at Lakehead-Georgian studying computer science</p>
<p>I currently work at hardwood ski and bike in retail, rentals and service</p>
<p>if you wish to see some of my projects click <a href="/projects">here</a></p>

