<link rel="stylesheet" href="/stylesheets/contact.css" />
 <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<body>
    <h1>{{title}}</h1> 
<!-- Contact form code is provided from Formspree, site used to host the contact form -->
</body>