<link rel="stylesheet" href="/stylesheets/contact.css" />
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
      <script src= "https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script><body>
    <container>
        <form action="" id="contactForm">
            <div class="inputBox">
                <input type="text" id="name" placeholder="Name..." />
            </div>

            <div class="inputBox">
                <input type="email" id="email" placeholder="example@email.com" />
            </div>

            <div class="inputBox">
                <input type="tel" id="phone"  pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="111-111-1111" />
            </div>
            <div class="inputBox">
                <textarea id="msg" cols="30" rows="10" placeholder="Message"></textarea>
            </div>
            <div class="inputBox">
                <p>What kind of website are you looking for?</p>
                <select name="market" id="market">
                    <option value="Simple(1k)"> Simple webstie to get my business off the ground</option>
                    <option value="Simple W Analytics(1-1.5k)">Website with analytics to grow my business</option>
                    <option value="Custom(1.5-2k)">Custom Website to fully encapsulate my business</option>
                    <option value="Fully Custom(2k+)">Fully custom website with analytics to help your business thrive</option>
                </select>
            </div>
            <div class="inputBox">
                <button type="submit">Submit</button>
            </div>
        </form>
    </container> 

</body>