<body>
    <script src= "https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
    <section  style="padding:64px 8px"  id="contact">
        <h2>{{title}}</h2> 
            <form id="contactForm">
                <div class="inputBox">
                    <input type="text" id="name" placeholder="Name..." />
                </div>

                <div class="inputBox">
                    <input type="email" id="email" placeholder="example@email.com" />
                </div>

                <div class="inputBox">
                    <input type="tel" id="phone"  pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="111-111-1111" />
                </div>
                <div class="inputBox">
                    <textarea id="msg" cols="30" rows="10" placeholder="Message"></textarea>
                </div>
                <div class="inputBox">
                    <button type="submit">Submit</button>
                </div>
            </form>
    </section>  
</body>