<link rel='stylesheet' href='/stylesheets/styles.css' />
 <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<h1>{{title}}</h1>
<p>Welcome to my portfolio</p>
<p>to learn more about me click <a href="/about">here</a></p>
<p>to see some of my notable projects click <a href="/projects">here</a></p>
