<!--*************************************Fix This Section To Make It Look Better***************************************-->
<h1 style="margin-top: 75px" class="header">{{title}}</h1>
<section style="padding:0 16px">
    <div style="margin-top:64px" id="overview">
         <h3>ABOUT THE COMPANY</h3>
    <p>Our web development company specializes in crafting tailored digital solutions that captivate audiences and drive growth. <br> With a focus on user-centric design and cutting-edge technology, we bring your vision to life</p>
    </div>
</section>
<section style="padding:0 16px;">
    <div style="margin-top:64px" id="homepageAbout">
        <h4>Our Focus</h4>
        <div>
            <h4>Passion</h4>
            <p>We aim to deliver exceptional web solutions tailored to each client's unique needs, ensuring maximum user engagement and satisfaction.</p>
        </div>
        <div>
            <h4>Design</h4>
            <p>We are continuously innovative and aim to integrate the latest technologies to stay ahead of industry trends and provide cutting-edge digital experiences</p>
        </div>
        <div>
            <h4>Support</h4>
            <p>We aim to foster long-term partnerships with clients by providing reliable support, transparent communication, and measurable results, ultimately driving mutual success and growth.</p>
        </div>
    </div>
</section>
<!--*********************************************************************************************************************-->
<section style="padding:32px 16px" id="aboutme">
    <div>    
        <h3>THE TEAM</h3>
      <div>
        <img src="/images/placeholder.jpg" alt="Andy" height="30%" width="30%">
        <div>
          <h3>Andreas Lentini</h3>
          <p>HBS Computer Science 2025<br> 
          Computer Programmer Diploma 2022<br>
          Owner
          </p>
          <p><a class="about-to-contnact" href="#contact">Contact</a><a href="/about">About Me</a></p>
        </div>
      </div>
    </div>
</section>
<section  style="padding:64px 16px"  id="contact">
    <div style="padding:64px 16px" id="legal">
        <p>Contact Information</p>
        <p>Telephone: 249-385-7287</p>
        <p>Email: lentiniandy@gmail.com</p>
        <small>Andreas Lentini Web Development&copy;</small>
    </div>
    <container>
      <script src= "https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
        <form action="" id="contactForm">
            <div class="inputBox">
                <input type="text" id="name" placeholder="Name..." />
            </div>

            <div class="inputBox">
                <input type="email" id="email" placeholder="example@email.com" />
            </div>

            <div class="inputBox">
                <input type="tel" id="phone"  pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" placeholder="111-111-1111" />
            </div>
            <div class="inputBox">
                <textarea id="msg" cols="30" rows="10" placeholder="Message"></textarea>
            </div>
            <div class="inputBox">
                <p>What kind of website are you looking for?</p>
                <select name="market" id="market">
                    <option value="low(>1000)"> Simple webstie to get my business off the ground</option>
                    <option value="mid(1000-1500)">Website with analytics to grow my business</option>
                    <option value="high(1500-2000)">Custom Website to fully encapsulate my business</option>
                    <option value="!!!(2000+)">Fully custom website with analytics to help your business thrive</option>
                </select>
            </div>
            <div class="inputBox">
                <button type="submit">Submit</button>
            </div>
        </form>
    </container>