<!DOCTYPE html>
<html>  
  <head> 
      <title >{{title}}</title>
      <link rel='stylesheet' href='/stylesheets/styles.css' />
      <link rel="icon" type="image/icon" href="/images/favicon.svg"> 
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <script type="module" src="/scripts/db.js"></script>
      <script src= "https://www.gstatic.com/firebasejs/3.7.4/firebase.js"></script>
  </head>
  <body>
  <header>
    <nav>
        <div class="navbar">
          <a class="notdropdown" href="/"><img alt="Home" src="/images/home-17-svgrepo-com.svg" width="32px" height="32px" ></a>
          <a class="notdropdown" href="/about"><img src="/images/favicon.svg" alt="About Me" width="32px" height="32px"/></a>
          <a class="notdropdown" href="/products"><img src="/images/projects-svgrepo-com.svg" width="32px" height="32px"></a>
          <div class="dropdown">
          <button class="dropbtn"><a href="/contact"><img src="/images/contacts-svgrepo-com.svg"  width="32px" height="32px" /></a></button>
            <div class="dropdown-content">
              <a href="https://github.com/ALentini222"><img alt="--Github" src="/images/Github-Mark-120px-plus.svg" width="32px" height="32px"/></a>
              <a href="https://www.linkedin.com/in/andreas-lentini"><img src="/images/LI-In-Bug.svg"alt="--Linkedin"  width="32px" height="32px"/></a>
            </div>
          </div> 
        </div>
      </nav> 
      </header>  
    <h1 style="margin-top: 128px">{{title}}</h1>
    {{{body}}}
  </body>
  <footer>
      <ul>
        <li><a href="/contact"><img alt="--Contact" src="/images/contacts-svgrepo-com.svg"width="32px" height="32px"> </a></li>     
        <li>
          <a href="https://github.com/ALentini222">
          <img alt="--Github" src="/images/Github-Mark-120px-plus.svg" width="32px" height="32px"/>
          </a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/andreas-lentini">
          <img src="/images/LI-In-Bug.svg"alt="--Linkedin"  width="32px" height="32px"/>
          </a>
        </li>
      </ul>
  </footer>
</html>
