
<h1 style="padding-top: 70px" class="headerShortText">Products and Services</h1>
<div style="padding:16px">
    <div class="textbox" style="padding:16px">
        <h2>Quick turnaround websites</h2>
        <p>Using premade templates we will use images and information from your business to design a website to showcase your business</p>
    </div>
</div>

<div>
    <div class="forDesktop">
        <div class="templateButtons">
            <div class="templateDiv">
                <img src="/images/template1.png" alt="temp1">
                <a class="productsButton" href="/temp1">Template 1</a>
            </div>
            <div class="templateDiv">
                <img src="/images/template2.png" alt="temp2">
                <a class="productsButton" href="/temp2">Template 2</a>
            </div>
            <div class="templateDiv">
                <img src="/images/template3.png" alt="temp3">
                <a class="productsButton" href="/temp3">Template 3</a>
            </div>
        </div>
    </div>
    <div class="forMobile">
        <div class="templateButtons">
            <div class="templateDiv">
                <img src="/images/template1.png" alt="temp1">
                <a class="productsButton" href="/temp1">temp1</a>
            </div>
            <div class="templateDiv">
                <img src="/images/template2.png" alt="temp2">
                <a class="productsButton" href="/temp2">temp2</a>
            </div>
            <div class="templateDiv">
                <img src="/images/template3.png" alt="temp3">
                <a class="productsButton" href="/temp3">temp3</a>
            </div>
        </div>
    </div>
</div>
<div style="padding:16px">
    <div class="textbox" style="padding:16px">
        <h2>Custom Website Design</h2>
        <p>We create visually stunning, user-friendly websites tailored to your brand. Our custom designs ensure your site stands out, providing a unique online presence that attracts and engages visitors.</p>
    </div>
</div>
<div style="padding:16px">
    <div class="textbox" style="padding:16px">
        <h2>SEO</h2>
        <p>Increase your online visibility and drive more traffic to your site with our comprehensive SEO </p>
    </div>
</div>
<div style="padding:16px">
    <div class="textbox" style="padding:16px">
        <h2>Website Maintenance and Support</h2>
        <p>Keep your website running smoothly with our maintenance and support services. We offer regular updates, security monitoring, and technical support to ensure your site is always up-to-date and secure.</p>
    </div>
</div>
<div style="padding:16px">
    <div class="textbox" style="padding:16px">
        <h2>Web Hosting Services</h2>
        <p>Enjoy reliable and secure web hosting with our tailored hosting packages. We offer fast loading times, 99.9% uptime, and 24/7 support to keep your website accessible and performing at its best.</p>
    </div>
</div>
<div style="padding:16px">
    <div class="textbox" style="padding:16px">
        <h2>Analytics and Reporting</h2>
        <p>Gain valuable insights into your website’s performance with our analytics and reporting services. We provide detailed reports and actionable data to help you understand your audience and make informed decisions to enhance your online presence.</p>
    </div>
</div>
<p style="padding-bottom:64px;">Our comprehensive range of web design products and services ensures that your business has everything it needs to succeed online. From initial design to ongoing support, we are your dedicated partner in achieving digital excellence.</p>