<div style="padding:128px 0px">
    <div id="template1Div">
    <img id="template1" href="" width="20%" height="10%" alt="temp1"/>
    <a href="/temp1">temp1</a>

</div>
<div id="template2Div">
    <img id="template1" href="" width="20%" height="10%" alt="temp2"/>
    <a href="/temp2">temp2</a>
</div>
<div id="template3Div">
    <img id="template1" href="" width="20%" height="10%" alt="temp1"alt="temp3" />
    <a href="/temp3">temp3</a>

</div>
</div>
