<div style="padding: 100px 0px">
    <div class="forDesktop">
        <div class="templateButtons">
            <div class="templateDiv">
                <img src="/images/template1.png" alt="temp1">
                <a class="productsButton" href="/temp1">temp1</a>
            </div>
            <div class="templateDiv">
                <img src="/images/template2.png" alt="temp2">
                <a class="productsButton" href="/temp2">temp2</a>
            </div>
            <div class="templateDiv">
                <img src="/images/template3.png" alt="temp3">
                <a class="productsButton" href="/temp3">temp3</a>
            </div>
        </div>
    </div>
    <div class="forMobile">
        <div class="templateButtons">
            <div class="templateDiv">
                <img src="/images/template1.png" alt="temp1">
                <a class="productsButton" href="/temp1">temp1</a>
            </div>
            <div class="templateDiv">
                <img src="/images/template2.png" alt="temp2">
                <a class="productsButton" href="/temp2">temp2</a>
            </div>
            <div class="templateDiv">
                <img src="/images/template3.png" alt="temp3">
                <a class="productsButton" href="/temp3">temp3</a>
            </div>
        </div>
    </div>
</div>
