
<link rel='stylesheet' href='/stylesheets/styles.css' />
<meta name="viewport" content="width=device-width, initial-scale=1.0"> 
<h1>{{title}}</h1>
<h2>Notable Projects</h2>
<div>
<a href="https://github.com/ALentini222/Assignment-2-Dollar-Computers">Dollar Computers</a>
    <li>Dollar Computers was a class project where we were given a mock database (DB) and had to make a user interface (UI) to display the data for Create, Read, Update and Delete (CRUD) Operations.</li>
    <a href="https://github.com/ALentini222/Comp2048-Assignment-Andreas1141007-v2">Game Review Website</a>
    <li>This was an ASP.NET website to use Microsoft Azure webhosting and DB hosting.  The website requirements needed a read and write DB which we had to create based off a series of at least 100 rows of data and user registration, login, and validation.  </li>
    <a href="https://github.com/ALentini222/Andreas1141007-Comp1011-Assignment1">Game review app</a>
    <li>This was a java app that displayed the average reviews by playtime in a bar graph with the option to view the full table of data. </li>
    <a href="https://github.com/ALentini222/final-project-comp1002">Frogger Information Website</a>
    <li>This was a basic website to provide information about any product to practice the basics of Hyper Text Markup Language (HTML), JavaScript (JS), and Cascading Style Sheet (CSS)</li>
</div>