:root {
    --primary: #ffa500;
    --primary-content: #1F1F1F;
    --primary-dark: #cc8400;
    --primary-light: #ffb733;

    --secondary: #6e00ff;
    --secondary-content: #ffffff;
    --secondary-dark: #5800cc;
    --secondary-light: #8b33ff;

    --background: #1b1a18;
    --foreground: #404040;
    --border: #45413b;

    --copy: #fbfbfb;
    --copy-light: #dcdad6;
    --copy-lighter: #aca89f;

    --success: #00ff00;
    --warning: #ffff00;
    --error: #ff0000;
    --success-content: #000000;
    --warning-content: #000000;
    --error-content: #ffffff;
}


html {
    font-family: 'Courier New', Courier, monospace;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--primary) ;
}
nav li{
    float: left;
}
body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-image: url("/images/background.png");

    min-height: 500px; 
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

nav li a:hover {
    background-color: var(--primary);
}
header{
    position:fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: var(--primary);
    color: var(--primary);
    text-align: center;
}
article {
    margin: auto 0;
}
footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: var(--primary-content);
    color: white;
    text-align: center;
}

footer ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: var(--primary-content) ;
}
footer li{
    float: left;
}

footer li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

footer li a:hover {
    background-color: var(--primary);
}

p a {
    text-decoration: none;
    background-color: var(--primary-content);
    color: white;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid white;
    border-right: 1px solid var(--primary-content);
    border-bottom: 1px solid var(--primary-content);
    border-left: 1px solid white;
}
p a:hover{
    background-color: var(--primary);
}


button a {
    text-decoration: none;
    background-color: var(--primary);
    color: white;
    padding: 2px 6px 2px 6px;
    float:right;
}

.navbar {
    overflow: hidden;
    background-color: var(--primary);
  }
  
  .navbar a, .narbar button {
    float: left;
    font-size: 16px;
    color: var(--primary-content);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  .navbar a:hover, .dropdown:hover .dropbtn:hover {
    background-color: var(--primary-content);
    color:var(--primary);
  }
  @media(max-width:768px){
    .forDesktop{
       display:none;
     }
}

@media(min-width:768px){
    .forMobile{
       display:none;
     }
}
  .dropdown {
    float: left;
    overflow: hidden;
  }
  .dropbtn{
    font-size: 16px;  
    border: none;
    outline: none;
    color: var(--primary);
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  .dropdown {
    font-size: 16px;  
    border: none;
    outline: none;
    color: var(--primary-content);
    background-color: inherit;
    font-family: inherit;
    margin: 0;
  }
  

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--primary);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .dropdown-content a:hover {
    background-color: var(--secondary-content);;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
#about{
    color: var(--secondary-content);
}
#aboutme{
    background-color: var(--primary-dark);
    color: var(--foreground);
}
.about-to-contact{
    background-color: var(--primary-content);
}
.about-to-contact:hover{
    background-color: var(--primary);
}
#contact,#about,#aboutMe{
    background-image: url("/images/background.png");

    min-height: 500px; 
  
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;    height: 75%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: space-between;
  }

  .contact-form-container {
    flex: 1;
    margin-right: 20px; /* Adjust spacing between the form and the other content */
    max-width: 500px; /* Set maximum width for the form */
}

/* Adjust the width of the input fields and textarea */
/* Adjust the width of the input fields and textarea */
.inputBox input,
.inputBox textarea {
    width: 50%;
}

  input[type=text], input[type=email], input[type=tel]{
    width: 50%;
    align-items: center;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #444;
    border-radius: 4px;
    box-sizing: border-box;
}


textarea{
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #444;
    border-radius: 4px;
    box-sizing: border-box;
}

button[type=submit] {
    width: 50%;
    background-color: var(--primary);
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}
button[type=submit]:hover {
    background-color:var(--primary-content);
}
#legal{
    color:var(--copy);
    float:right;
}
h1,h2,h3,h4,h5,p,small{
    color:var(--secondary-content)
}
.about-me {
    display: flex;
}

.aboutMeInfo {
    flex: 1;
    padding: 0 16px;
}

.personal-image {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.personal-image img {
    max-width: 75%;
    height: auto;
}
#overview{
    background-color: var(--primary-dark);
}